In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("conversion_data.csv")

In [3]:
df = df.sort("converted", ascending = False)

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [4]:
df.head()

       country  age  new_user source  total_pages_visited  converted
282705      UK   23         0    Ads                   21          1
107028      US   31         1    Seo                    5          1
287869      US   23         0    Seo                   13          1
126043      US   25         0    Seo                   13          1
65958       US   24         1    Seo                   13          1

In [5]:
df.describe()

                 age       new_user  total_pages_visited      converted
count  316200.000000  316200.000000        316200.000000  316200.000000
mean       30.569858       0.685465             4.872966       0.032258
std         8.271802       0.464331             3.341104       0.176685
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max       123.000000       1.000000            29.000000       1.000000

In [6]:
# df["age_range"] = df["age"]/10

In [7]:
# features = df.columns[[1,2,4]]

In [8]:
# from sklearn.naive_bayes import GaussianNB

In [9]:
# gnb = GaussianNB()
# nb = gnb.fit(df[features], df['converted'])

In [10]:
# nb.predict(df[features])

In [11]:
df["age_range"] = (df["age"]/10).astype(int)

In [12]:
df["int_source"] = df["source"].apply(lambda x: 0 if x == "Ads" else 1 if x == "Seo" else 2)

In [13]:
df["page_range"] = (df["total_pages_visited"]/10).astype(int)

In [14]:
df.head()

,country,age,new_user,source,total_pages_visited,converted,age_range,int_source,page_range
282705,UK,23,0,Ads,21,1,2,0,2
107028,US,31,1,Seo,5,1,3,1,0
287869,US,23,0,Seo,13,1,2,1,1
126043,US,25,0,Seo,13,1,2,1,1
65958,US,24,1,Seo,13,1,2,1,1

In [15]:
df2 = df[df.columns[[0,2,6,3,8,5]]]

In [16]:
df2.head()

       country  new_user  age_range source  page_range  converted
282705      UK         0          2    Ads           2          1
107028      US         1          3    Seo           0          1
287869      US         0          2    Seo           1          1
126043      US         0          2    Seo           1          1
65958       US         1          2    Seo           1          1

In [17]:
# df3 = df2.groupby(["country", "converted"]).size()

In [18]:
# df3["country"] = df3.index.get_level_values(0)

In [19]:
# df3

In [20]:
# df4 = df3.reset_index(level=['country', "converted"])

In [21]:
# df4

In [22]:
# df3 = pd.DataFrame(df3)
# df3

In [23]:
# np.random.seed(0)
# df_test = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
#                    'office_id': list(range(1, 7)) * 2,
#                    'sales': [np.random.randint(100000, 999999)
#                              for _ in range(12)]})
# state_office = df_test.groupby(['state', 'office_id']).agg({'sales': 'sum'})

In [24]:
# state_office

In [25]:
# df3_pct = df3.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

In [26]:
# df3_pct

In [27]:
df2.head()

       country  new_user  age_range source  page_range  converted
282705      UK         0          2    Ads           2          1
107028      US         1          3    Seo           0          1
287869      US         0          2    Seo           1          1
126043      US         0          2    Seo           1          1
65958       US         1          2    Seo           1          1

In [28]:
def get_percent(df, field):
    df = pd.DataFrame(df.groupby([field, "converted"]).size())
    df_pct = df.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
    df_out = df_pct.reset_index()
    return df_out[df_out["converted"] == 1]

In [29]:
print(get_percent(df2, "country"))

   country  converted         0
1    China          1  0.133156
3  Germany          1  6.250000
5       UK          1  5.263158
7       US          1  3.780069

In [30]:
print(get_percent(df2, "new_user"))

   new_user  converted         0
1         0          1  7.200169
3         1          1  1.402115

In [31]:
print(get_percent(df2, "age_range"))

    age_range  converted           0
1           1          1    6.496931
3           2          1    4.267993
5           3          1    2.220548
7           4          1    1.178701
9           5          1    0.486957
11          6          1    0.928793
13         11          1  100.000000
14         12          1  100.000000

In [32]:
print(get_percent(df2, "source"))

   source  converted         0
1     Ads          1  3.448276
3  Direct          1  2.816901
5     Seo          1  3.289474

In [33]:
print(get_percent(df2, "page_range"))

   page_range  converted          0
1           0          1   0.360282
3           1          1  31.121503
5           2          1  99.909584

Validating Results

In [34]:
df[df["age"]>100]

,country,age,new_user,source,total_pages_visited,converted,age_range,int_source,page_range
90928,Germany,123,0,Seo,15,1,12,1,1
295581,UK,111,0,Ads,10,1,11,0,1

In [35]:
df[(df["total_pages_visited"]>=20) & (df["converted"] == 0)]

,country,age,new_user,source,total_pages_visited,converted,age_range,int_source,page_range
57103,China,36,0,Seo,20,0,3,1,2

In [36]:
df[(df["total_pages_visited"]>=20) & (df["converted"] == 1)].count()

country                1105
age                    1105
new_user               1105
source                 1105
total_pages_visited    1105
converted              1105
age_range              1105
int_source             1105
page_range             1105
dtype: int64