In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_test = pd.read_csv("test_table.csv")
df_user = pd.read_csv("user_table.csv")

In [3]:
df_test.head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1

In [4]:
df_user.head()

   user_id sex  age    country
0   765821   M   20     Mexico
1   343561   F   27  Nicaragua
2   118744   M   23   Colombia
3   987753   F   27  Venezuela
4   554597   F   20      Spain

In [5]:
df_test.describe()

              user_id     conversion           test
count   453321.000000  453321.000000  453321.000000
mean    499937.514728       0.049579       0.476446
std     288665.193436       0.217073       0.499445
min          1.000000       0.000000       0.000000
25%     249816.000000       0.000000       0.000000
50%     500019.000000       0.000000       0.000000
75%     749522.000000       0.000000       1.000000
max    1000000.000000       1.000000       1.000000

In [6]:
df_user.describe()

              user_id            age
count   452867.000000  452867.000000
mean    499944.805166      27.130740
std     288676.264784       6.776678
min          1.000000      18.000000
25%     249819.000000      22.000000
50%     500019.000000      26.000000
75%     749543.000000      31.000000
max    1000000.000000      70.000000

Doing a left outer join since I noticed above that some users are present in the test table but missing in the user table

In [7]:
df = df_test.merge(df_user, how = "left", left_on = "user_id", right_on = "user_id")

In [8]:
df.head(10)

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test,sex,age,country
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0,M,32.0,Spain
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1,M,21.0,Mexico
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0,M,34.0,Spain
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1,F,22.0,Mexico
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1,M,19.0,Mexico
5,540675,2015-12-03,Direct,Mobile,ES,NaN,Android_App,0,1,F,22.0,Venezuela
6,863394,2015-12-04,SEO,Mobile,Other,NaN,Android_App,0,0,M,35.0,Mexico
7,527287,2015-12-03,Direct,Web,EN,NaN,Chrome,0,0,M,22.0,Spain
8,261625,2015-12-04,Direct,Mobile,ES,NaN,Android_App,0,1,M,31.0,Bolivia
9,10427,2015-12-04,Ads,Mobile,ES,Facebook,Android_App,0,0,F,33.0,Mexico

In [9]:
df_user[df_user["user_id"]  == 315281]

       user_id sex  age country
19877   315281   M   32   Spain

In [10]:
df.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              user_id     conversion           test            age
count   453321.000000  453321.000000  453321.000000  452867.000000
mean    499937.514728       0.049579       0.476446      27.130740
std     288665.193436       0.217073       0.499445       6.776678
min          1.000000       0.000000       0.000000      18.000000
25%     249816.000000       0.000000       0.000000            NaN
50%     500019.000000       0.000000       0.000000            NaN
75%     749522.000000       0.000000       1.000000            NaN
max    1000000.000000       1.000000       1.000000      70.000000

Checking whether the join is behaving as intended

In [11]:
df[df["country"].isnull()].head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test,sex,age,country
819,657841,2015-12-02,Ads,Mobile,ES,Bing,Android_App,0,0,NaN,NaN,NaN
1696,859340,2015-12-04,Direct,Mobile,EN,NaN,Android_App,0,0,NaN,NaN,NaN
1934,716487,2015-12-04,SEO,Mobile,ES,NaN,Android_App,0,0,NaN,NaN,NaN
2409,87209,2015-12-01,Direct,Web,ES,NaN,Chrome,0,0,NaN,NaN,NaN
2721,771642,2015-11-30,SEO,Mobile,ES,NaN,Android_App,0,0,NaN,NaN,NaN

In [12]:
df_user[df_user["user_id"] == 87209]

Empty DataFrame
Columns: [user_id, sex, age, country]
Index: []

Trying to see country wise mean of conversion rates

In [13]:
df.groupby("country").conversion.mean()*100

country
Argentina      1.399439
Bolivia        4.863359
Chile          4.970360
Colombia       5.133185
Costa Rica     5.349407
Ecuador        4.907204
El Salvador    5.076453
Guatemala      4.965289
Honduras       4.925303
Mexico         5.034090
Nicaragua      5.339878
Panama         4.808909
Paraguay       4.886348
Peru           5.025842
Spain          7.971882
Uruguay        1.282051
Venezuela      4.966619
Name: conversion, dtype: float64

Clearly conversation ratio of Spain at 7.97% is thr highest among all the countries

Now, seeing conversion rates per country per test/control

In [14]:
df.groupby(["country", "test"]).conversion.mean()*100

country      test
Argentina    0       1.507054
             1       1.372502
Bolivia      0       4.936937
             1       4.790097
Chile        0       4.810718
             1       5.129502
Colombia     0       5.208949
             1       5.057096
Costa Rica   0       5.225564
             1       5.473764
Ecuador      0       4.915381
             1       4.898842
El Salvador  0       5.355404
             1       4.794689
Guatemala    0       5.064288
             1       4.864721
Honduras     0       5.090576
             1       4.753981
Mexico       0       4.949462
             1       5.118631
Nicaragua    0       5.264697
             1       5.417676
Panama       0       4.679552
             1       4.937028
Paraguay     0       4.849315
             1       4.922910
Peru         0       4.991404
             1       5.060427
Spain        0       7.971882
Uruguay      0       1.204819
             1       1.290670
Venezuela    0       5.034367
             1       4.897831
Name: conversion, dtype: float64

In order to see whether the control and test sets are evenly distributed, I want to see the count of users by each of the countries.

In [15]:
df.groupby(["country", "test"]).user_id.count()

country      test
Argentina    0        9356
             1       37377
Bolivia      0        5550
             1        5574
Chile        0        9853
             1        9884
Colombia     0       27088
             1       26972
Costa Rica   0        2660
             1        2649
Ecuador      0        8036
             1        7859
El Salvador  0        4108
             1        4067
Guatemala    0        7622
             1        7503
Honduras     0        4361
             1        4207
Mexico       0       64209
             1       64275
Nicaragua    0        3419
             1        3304
Panama       0        1966
             1        1985
Paraguay     0        3650
             1        3697
Peru         0       16869
             1       16797
Spain        0       51782
Uruguay      0         415
             1        3719
Venezuela    0       16149
             1       15905
Name: user_id, dtype: int64

Immediately we notice that the count for test set of Argentina is 4 times that of its control set. Thus, the poor conversion rate of Argentina could be driving the overall conversion rate of the test set down

Getting a consolidated view of aggregated count of user ID and the percentage conversion

In [16]:
df.groupby(["country", "test"]).agg({'user_id':'count', 'conversion':'mean'})

                  conversion  user_id
country     test
Argentina   0       0.015071     9356
            1       0.013725    37377
Bolivia     0       0.049369     5550
            1       0.047901     5574
Chile       0       0.048107     9853
            1       0.051295     9884
Colombia    0       0.052089    27088
            1       0.050571    26972
Costa Rica  0       0.052256     2660
            1       0.054738     2649
Ecuador     0       0.049154     8036
            1       0.048988     7859
El Salvador 0       0.053554     4108
            1       0.047947     4067
Guatemala   0       0.050643     7622
            1       0.048647     7503
Honduras    0       0.050906     4361
            1       0.047540     4207
Mexico      0       0.049495    64209
            1       0.051186    64275
Nicaragua   0       0.052647     3419
            1       0.054177     3304
Panama      0       0.046796     1966
            1       0.049370     1985
Paraguay    0       0.048493     3650
            1       0.049229     3697
Peru        0       0.049914    16869
            1       0.050604    16797
Spain       0       0.079719    51782
Uruguay     0       0.012048      415
            1       0.012907     3719
Venezuela   0       0.050344    16149
            1       0.048978    15905

Since Spain only has control set and no test set, let us see how the data behaves with Spain vs without Spain

In [17]:
df_noSpain = df[df["country"] != "Spain"]
df_Spain = df[df["country"] == "Spain"]

In [18]:
df_noSpain.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              user_id     conversion           test           age
count   401539.000000  401539.000000  401539.000000  401085.00000
mean    499889.078124       0.045692       0.537888      27.12815
std     288708.317953       0.208816       0.498563       6.77476
min          1.000000       0.000000       0.000000      18.00000
25%     249802.500000       0.000000       0.000000           NaN
50%     499980.000000       0.000000       1.000000           NaN
75%     749580.500000       0.000000       1.000000           NaN
max    1000000.000000       1.000000       1.000000      70.00000

In [19]:
df_Spain.describe()

             user_id    conversion     test           age
count   51782.000000  51782.000000  51782.0  51782.000000
mean   500313.112143      0.079719      0.0     27.150805
std    288333.077966      0.270860      0.0      6.791548
min        26.000000      0.000000      0.0     18.000000
25%    249953.500000      0.000000      0.0     22.000000
50%    500273.000000      0.000000      0.0     26.000000
75%    749051.250000      0.000000      0.0     31.000000
max    999980.000000      1.000000      0.0     68.000000

Now lets further split the no Spain data into test and control sets. We do this to see what is the percentage conversion, and whether there is any truth to the statement that test set is doing worse than the control set

In [20]:
df_noSpain_control = df_noSpain[df_noSpain["test"] == 0]
df_noSpain_test = df_noSpain[df_noSpain["test"] == 1]

In [21]:
df_noSpain_control.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              user_id     conversion      test            age
count   185556.000000  185556.000000  185556.0  185311.000000
mean    500393.190557       0.048330       0.0      27.143186
std     288943.391709       0.214464       0.0       6.788499
min          1.000000       0.000000       0.0      18.000000
25%     249821.500000       0.000000       0.0            NaN
50%     501139.000000       0.000000       0.0            NaN
75%     750526.250000       0.000000       0.0            NaN
max    1000000.000000       1.000000       0.0      66.000000

In [22]:
df_noSpain_test.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

             user_id     conversion      test            age
count  215983.000000  215983.000000  215983.0  215774.000000
mean   499455.983452       0.043425       1.0      27.115236
std    288506.173210       0.203812       0.0       6.762929
min         3.000000       0.000000       1.0      18.000000
25%    249777.000000       0.000000       1.0            NaN
50%    499094.000000       0.000000       1.0            NaN
75%    748885.500000       0.000000       1.0            NaN
max    999999.000000       1.000000       1.0      70.000000

It is clear that Test set gave poor results, since test set percentage converted is 4.3425% where as for control the conversion rate is 4.8330%

Since we noticed that Argentina does not have a proper sample distribution, it must be driving the percentage down. Let us remove Argentina and see the results again

In [23]:
df_noSpainArg = df_noSpain[df_noSpain["country"] != "Argentina"]

df_noSpainArg_control = df_noSpainArg[df_noSpainArg["test"] == 0]
df_noSpainArg_test = df_noSpainArg[df_noSpainArg["test"] == 1]

In [24]:
df_noSpainArg_control.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              user_id     conversion      test            age
count   176200.000000  176200.000000  176200.0  175955.000000
mean    500589.914591       0.050096       0.0      27.144196
std     288898.025225       0.218145       0.0       6.789605
min          1.000000       0.000000       0.0      18.000000
25%     250056.500000       0.000000       0.0            NaN
50%     501499.500000       0.000000       0.0            NaN
75%     750600.500000       0.000000       0.0            NaN
max    1000000.000000       1.000000       0.0      66.000000

In [25]:
df_noSpainArg_test.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

             user_id     conversion      test            age
count  178606.000000  178606.000000  178606.0  178397.000000
mean   499412.771895       0.049640       1.0      27.111560
std    288632.128246       0.217201       0.0       6.759159
min         3.000000       0.000000       1.0      18.000000
25%    249525.500000       0.000000       1.0            NaN
50%    498740.500000       0.000000       1.0            NaN
75%    748838.750000       0.000000       1.0            NaN
max    999999.000000       1.000000       1.0      70.000000

We see that without Spain or Argentina, there is not much difference in conversion rate of control(5.0096) vs test(4.9640). Thus it can be concluded that, the imbalance in sample set or Argentina is driving the test conversion to be lower than control.

Lets now try to understand if there is any imbalance in age distribution, and its possible variations

First, we need to divide the people into age groups. I am arbitrarily choosing to divide people into 5 groups. To pick these 5 groups, I will run a check for ages at 0,20,40,60,80 and 100 percentiles.

In [26]:
df[df["age"] > 0].describe(percentiles = [0,0.20, 0.40, 0.60, 0.80, 1])

              user_id     conversion           test            age
count   452867.000000  452867.000000  452867.000000  452867.000000
mean    499944.805166       0.049560       0.476462      27.130740
std     288676.264784       0.217034       0.499446       6.776678
min          1.000000       0.000000       0.000000      18.000000
0%           1.000000       0.000000       0.000000      18.000000
20%     199735.400000       0.000000       0.000000      21.000000
40%     400345.800000       0.000000       0.000000      24.000000
50%     500019.000000       0.000000       0.000000      26.000000
60%     599966.000000       0.000000       1.000000      28.000000
80%     800150.400000       0.000000       1.000000      33.000000
100%   1000000.000000       1.000000       1.000000      70.000000
max    1000000.000000       1.000000       1.000000      70.000000

So we get, 18-21, 21-24, 24-28, 28-33, 33-70

Now, transforming the data to get a new column with age ranges

In [27]:
df["age_group"] = df["age"].apply(lambda x: 
                                  "18 - 21" if x <= 21 else 
                                  "21 - 24" if x > 21 and x <= 24 else 
                                  "24 - 28" if x > 24 and x <= 28 else 
                                  "28 - 33" if x > 28 and x <= 33 else 
                                  "33 - " if x > 33 
                                  else "NAN")

In [28]:
df.head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test,sex,age,country,age_group
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0,M,32.0,Spain,28 - 33
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1,M,21.0,Mexico,18 - 21
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0,M,34.0,Spain,33 -
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1,F,22.0,Mexico,21 - 24
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1,M,19.0,Mexico,18 - 21

Now, grouping by age group and seeing the spread

In [29]:
df.groupby(["age_group", "test"]).agg({'user_id':'count', 'conversion':'mean'})

                conversion  user_id
age_group test
18 - 21   0       0.055140    56184
          1       0.042949    51084
21 - 24   0       0.055616    42416
          1       0.044837    38740
24 - 28   0       0.053729    50531
          1       0.043763    46386
28 - 33   0       0.056139    46171
          1       0.041734    41860
33 -      0       0.055347    41791
          1       0.044001    37704
NAN       0       0.077551      245
          1       0.057416      209

We see that consistently, there has been lesser number of test cases than control. This may be due to presense of Argentina and Spain, Lets try and remove those and see the behavior

In [30]:
df_noSpainArg["age_group"] = df_noSpainArg["age"].apply(lambda x: 
                                  "18 - 21" if x <= 21 else 
                                  "21 - 24" if x > 21 and x <= 24 else 
                                  "24 - 28" if x > 24 and x <= 28 else 
                                  "28 - 33" if x > 28 and x <= 33 else 
                                  "33 - " if x > 33 
                                  else "NAN")


df_noSpainArg.groupby(["age_group", "test"]).agg({'user_id':'count', 'conversion':'mean'})

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                conversion  user_id
age_group test
18 - 21   0       0.050404    41802
          1       0.049180    42294
21 - 24   0       0.049990    31246
          1       0.051487    31969
24 - 28   0       0.049549    37660
          1       0.050085    38335
28 - 33   0       0.048818    34209
          1       0.047078    34708
33 -      0       0.051646    31038
          1       0.050626    31091
NAN       0       0.077551      245
          1       0.057416      209

Thus we see a more even distributions for our findings, we see that control and test samples provide similar conversion rates!

Now analyzing the same for male female distribution

In [31]:
df.groupby(["sex", "test"]).agg({'user_id':'count', 'conversion':'mean'})

          conversion  user_id
sex test
F   0       0.054990    98473
    1       0.043377    89909
M   0       0.055273   138620
    1       0.043435   125865

In [32]:
df_noSpain.groupby(["sex", "test"]).agg({'user_id':'count', 'conversion':'mean'})

          conversion  user_id
sex test
F   0       0.048303    77096
    1       0.043377    89909
M   0       0.048284   108215
    1       0.043435   125865

In [33]:
df_noSpainArg.groupby(["sex", "test"]).agg({'user_id':'count', 'conversion':'mean'})

          conversion  user_id
sex test
F   0       0.049973    73120
    1       0.049536    74350
M   0       0.050119   102835
    1       0.049699   104047

We again see that there was even sampling between men and women, and the conversion rates are also equal for test and control sets.

I am only analysing using country, age and sex because these are inherent user traits and samples for testing should be evenly distributed across these traits. Other columns like dates, source, device browser are dynamic traits for users, thus a control set cannot be established on them, and so I am not taking them into consideration in my analysis.